export(StationarityTimeSeries)
export(ARIMATimeSeries)
export(SpectralTimeSeries)
export(DescriptivesTimeSeries)
export(DescriptivesTimeSeriesInternal)
import(jaspBase)
importFrom(jaspDescriptives,.plotMarginal)
importFrom(jaspDescriptives,.DescriptivesTimeSeries)
importFrom(jaspDescriptives,.tsReadData)
importFrom(jaspDescriptives,.tsErrorHandler)
importFrom(jaspDescriptives,.tsGuessInterval)
importFrom(jaspDescriptives,.tsDataFilterHandler)
importFrom(jaspDescriptives,.tsDataWithMissingRowsHandler)
importFrom(jaspDescriptives,.tsFillTimeSeriesPlot)
importFrom(jaspDescriptives,.tsFillACF)

